kestra/flows/heartbeat.yaml
# Kestra Flow: Heartbeat - Task Recovery Patrol
# Lightweight control-plane patrol for stuck tasks, pending replies, and retry candidates.

id: heartbeat
namespace: pulse

description: >-
  Lightweight patrol flow. It never runs heavy workers directly; it only detects
  recovery candidates and triggers manual-replay or notifier-resend when needed.

triggers:
  - id: schedule-trigger
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "*/5 * * * *"
    timezone: "Asia/Tokyo"

tasks:
  - id: find-recovery-candidates
    type: io.kestra.plugin.scripts.python.Script
    outputFiles:
      - stuck_tasks.json
      - pending_replies.json
      - retry_candidates.json
      - heartbeat_metrics.json
    script: |
      import json
      import subprocess
      import sys
      from datetime import datetime, timezone, timedelta

      CLI_PATH = "{{ globals.taskstate_cli_path | default('./agent-taskstate_cli.py') }}"
      DB_PATH = "{{ globals.taskstate_db | default('./state/agent-taskstate.db') }}"
      STUCK_MINUTES = int("{{ globals.stuck_in_progress_minutes | default('15') }}")
      MAX_RETRY_COUNT = int("{{ globals.max_retry_count | default('3') }}")

      def run_cli(args):
          cmd = [sys.executable, CLI_PATH, "--db", DB_PATH] + args
          result = subprocess.run(cmd, capture_output=True, text=True)
          if result.returncode != 0:
              return {"ok": False, "error": result.stderr}
          return json.loads(result.stdout)

      now = datetime.now(timezone.utc)
      stuck_threshold = (now - timedelta(minutes=STUCK_MINUTES)).isoformat()
      stuck_result = run_cli(["task", "list", "--status", "in_progress", "--updated-before", stuck_threshold])
      stuck_tasks = stuck_result.get("data", []) if stuck_result.get("ok") else []

      pending_replies = []
      failed_reply_count = 0
      for reply_state in ("pending", "failed"):
          pending_result = run_cli(["task", "list", "--reply-state", reply_state])
          tasks = pending_result.get("data", []) if pending_result.get("ok") else []
          for task in tasks:
              pending_replies.append({
                  "task_id": task["id"],
                  "reply_state": reply_state,
                  "retry_count": task.get("retry_count", 0),
                  "note_id": task.get("note_id", ""),
                  "reply_target": task.get("reply_target", ""),
                  "trace_id": task.get("trace_id", ""),
                  "reply_text": task.get("reply_text", ""),
                  "duplicate_suppression_count": task.get("duplicate_suppression_count", 0)
              })
          if reply_state == "failed":
              failed_reply_count += len(tasks)

      review_result = run_cli(["task", "list", "--status", "review"])
      review_tasks = review_result.get("data", []) if review_result.get("ok") else []
      retry_candidates = []
      for task in review_tasks:
          retry_count = task.get("retry_count", 0)
          if retry_count < MAX_RETRY_COUNT:
              retry_candidates.append({
                  "task_id": task["id"],
                  "retry_count": retry_count,
                  "trace_id": task.get("trace_id", ""),
                  "note_id": task.get("note_id", ""),
                  "original_task_id": task.get("original_task_id", "")
              })

      metrics = {
          "heartbeat_time": now.isoformat(),
          "stuck_task_count": len(stuck_tasks),
          "pending_reply_count": len(pending_replies),
          "retry_candidate_count": len(retry_candidates),
          "notification_failure_count": failed_reply_count,
          "duplicate_suppression_count": sum(item.get("duplicate_suppression_count", 0) for item in pending_replies)
      }

      for name, payload in (
          ("stuck_tasks.json", stuck_tasks),
          ("pending_replies.json", pending_replies),
          ("retry_candidates.json", retry_candidates),
          ("heartbeat_metrics.json", metrics)
      ):
          with open(f"{{ outputDir }}/{name}", "w", encoding="utf-8") as f:
              json.dump(payload, f, ensure_ascii=False, indent=2)

      print(json.dumps(metrics, ensure_ascii=False, indent=2))

  - id: process-pending-replies
    type: io.kestra.plugin.scripts.python.Script
    outputFiles:
      - resend_results.json
    script: |
      import json
      import urllib.request
      import urllib.error

      KESTRA_BASE_URL = "{{ globals.kestra_base_url | default('http://localhost:8080') }}"
      WEBHOOK_KEY = "{{ secret('PULSE_KESTRA_WEBHOOK_KEY') }}"

      with open("{{ outputs.find-recovery-candidates.outputFiles['pending_replies.json'] }}", encoding="utf-8") as f:
          pending_replies = json.load(f)

      results = []
      for task in pending_replies:
          payload = {
              "event": "notifier.resend",
              "task_id": task["task_id"]
          }
          try:
              request = urllib.request.Request(
                  f"{KESTRA_BASE_URL}/api/v1/main/executions/webhook/pulse/notifier-resend/{WEBHOOK_KEY}",
                  data=json.dumps(payload).encode("utf-8"),
                  headers={"Content-Type": "application/json"},
                  method="POST"
              )
              with urllib.request.urlopen(request, timeout=30):
                  success = True
                  error = None
          except urllib.error.HTTPError as exc:
              success = False
              error = str(exc)
          except Exception as exc:
              success = False
              error = str(exc)

          results.append({
              "task_id": task["task_id"],
              "success": success,
              "error": error,
              "reply_state": task.get("reply_state", "pending")
          })

      with open("{{ outputDir }}/resend_results.json", "w", encoding="utf-8") as f:
          json.dump(results, f, ensure_ascii=False, indent=2)

      print(json.dumps({
          "resend_execution_count": len(results),
          "resend_success_count": sum(1 for item in results if item["success"])
      }, ensure_ascii=False, indent=2))

  - id: process-stuck-tasks
    type: io.kestra.plugin.scripts.python.Script
    outputFiles:
      - stuck_results.json
    script: |
      import json
      import subprocess
      import sys

      CLI_PATH = "{{ globals.taskstate_cli_path | default('./agent-taskstate_cli.py') }}"
      DB_PATH = "{{ globals.taskstate_db | default('./state/agent-taskstate.db') }}"

      with open("{{ outputs.find-recovery-candidates.outputFiles['stuck_tasks.json'] }}", encoding="utf-8") as f:
          stuck_tasks = json.load(f)

      results = []
      for task in stuck_tasks:
          task_id = task["id"]
          cmd = [
              sys.executable,
              CLI_PATH,
              "--db",
              DB_PATH,
              "task",
              "set-status",
              "--task",
              task_id,
              "--to",
              "review",
              "--reason",
              "Stuck in in_progress"
          ]
          result = subprocess.run(cmd, capture_output=True, text=True)
          results.append({"task_id": task_id, "success": result.returncode == 0})

      with open("{{ outputDir }}/stuck_results.json", "w", encoding="utf-8") as f:
          json.dump(results, f, ensure_ascii=False, indent=2)

      print(json.dumps({"review_mark_count": len(results)}, ensure_ascii=False, indent=2))

  - id: trigger-retry-recovery
    type: io.kestra.plugin.scripts.python.Script
    outputFiles:
      - retry_results.json
    script: |
      import json
      import urllib.request
      import urllib.error

      KESTRA_BASE_URL = "{{ globals.kestra_base_url | default('http://localhost:8080') }}"
      WEBHOOK_KEY = "{{ secret('PULSE_KESTRA_WEBHOOK_KEY') }}"

      with open("{{ outputs.find-recovery-candidates.outputFiles['retry_candidates.json'] }}", encoding="utf-8") as f:
          retry_candidates = json.load(f)

      results = []
      for candidate in retry_candidates:
          payload = {
              "event": "manual.replay",
              "task_id": candidate["task_id"],
              "trace_id": candidate.get("trace_id", ""),
              "replay_type": "full"
          }
          try:
              request = urllib.request.Request(
                  f"{KESTRA_BASE_URL}/api/v1/main/executions/webhook/pulse/manual-replay/{WEBHOOK_KEY}",
                  data=json.dumps(payload).encode("utf-8"),
                  headers={"Content-Type": "application/json"},
                  method="POST"
              )
              with urllib.request.urlopen(request, timeout=30):
                  success = True
                  error = None
          except urllib.error.HTTPError as exc:
              success = False
              error = str(exc)
          except Exception as exc:
              success = False
              error = str(exc)

          results.append({
              "task_id": candidate["task_id"],
              "success": success,
              "error": error
          })

      with open("{{ outputDir }}/retry_results.json", "w", encoding="utf-8") as f:
          json.dump(results, f, ensure_ascii=False, indent=2)

      print(json.dumps({
          "replay_execution_count": len(results),
          "replay_success_count": sum(1 for item in results if item["success"])
      }, ensure_ascii=False, indent=2))

  - id: summary-log
    type: io.kestra.plugin.core.log.Log
    message: |
      Heartbeat cycle completed.
      metrics={{ outputs.find-recovery-candidates.outputFiles['heartbeat_metrics.json'] }}
      resend={{ outputs.process-pending-replies.outputFiles['resend_results.json'] }}
      stuck={{ outputs.process-stuck-tasks.outputFiles['stuck_results.json'] }}
      replay={{ outputs.trigger-retry-recovery.outputFiles['retry_results.json'] }}
