kestra/flows/mention.yaml
# Kestra Flow: Misskey Mention Processing
# Triggers Roadmap Design Skill and posts reply to Misskey

id: mention
namespace: pulse

# Prevent concurrent executions for same idempotency_key
concurrency:
  behavior: CANCEL
  limit: 10

# Error handling
errors:
  - id: error-handler
    type: io.kestra.plugin.core.execution.Fail
    description: "Flow failed"

tasks:
  # 0. Update taskstate: in_progress, then create run with running status
  - id: start-taskstate-run
    type: io.kestra.plugin.scripts.shell.Commands
    description: "Set task to in_progress and create run with running status"
    outputFiles:
      - run_id.txt
    commands:
      - |
        CLI_PATH="{{ globals.taskstate_cli_path | default('C:/Users/ryo-n/Codex_dev/agent-taskstate/docs/src/agent-taskstate_cli.py') }}"
        DB_PATH="{{ globals.taskstate_db | default('C:/Users/ryo-n/.agent-taskstate/agent-taskstate.db') }}"
        TASK_ID="{{ trigger.body.task_id }}"

        # Transition task: ready -> in_progress
        python "$CLI_PATH" --db "$DB_PATH" task set-status \
          --task "$TASK_ID" \
          --to in_progress \
          --reason "Kestra flow started processing"

        # Create run with running status
        # run_type: execute (we're executing the roadmap skill)
        # actor_type: agent (Kestra worker is an agent)
        RUN_OUTPUT=$(python "$CLI_PATH" --db "$DB_PATH" run start \
          --task "$TASK_ID" \
          --run-type execute \
          --actor-type agent \
          --actor-id kestra-worker)

        # Extract run_id from JSON output and save for later use
        echo "$RUN_OUTPUT" | python -c "import sys,json; data=json.load(sys.stdin); print(data['data']['id'])" > {{ outputDir }}/run_id.txt

  # 1. Log incoming request
  - id: log-request
    type: io.kestra.plugin.core.log.Log
    message: |
      Processing mention:
      - task_id: {{ trigger.body.task_id }}
      - trace_id: {{ trigger.body.trace_id }}
      - note_id: {{ trigger.body.note_id }}
      - command: {{ trigger.body.command }}

  # 2. Transform request for Roadmap Design Skill
  - id: transform-request
    type: io.kestra.plugin.scripts.python.Script
    outputFiles:
      - worker_request.json
    beforeCommands:
      - pip install pydantic
    script: |
      import json
      from datetime import datetime
      from uuid import uuid4

      # Read input from trigger
      input_data = {{ trigger.body | json }}
      roadmap_request = input_data.get("roadmap_request", {})
      trace_id = input_data.get("trace_id", "")

      # Transform to Roadmap Design Skill format
      goal = roadmap_request.get("goal", "")
      context = roadmap_request.get("context")
      constraints = roadmap_request.get("constraints", [])
      deadline = roadmap_request.get("deadline")

      problem_id = f"pb_{uuid4().hex[:12]}"
      timestamp = datetime.utcnow().strftime("%Y%m%d%H%M%S")

      problem_statement = {
          "problem_id": problem_id,
          "title": goal[:100] if len(goal) > 100 else goal,
          "statement": goal,
          "background": context,
          "desired_outcome": f"Complete by {deadline}" if deadline else None,
      }

      constraint_items = []
      for i, c in enumerate(constraints):
          constraint_items.append({
              "constraint_id": f"co_{timestamp}_{i:03d}",
              "category": "other",
              "statement": c,
              "severity": "soft",
          })

      if deadline:
          constraint_items.append({
              "constraint_id": f"co_{timestamp}_deadline",
              "category": "time",
              "statement": f"Must be completed by {deadline}",
              "severity": "hard",
          })

      insights = [{
          "insight_id": f"in_{timestamp}_001",
          "statement": f"Goal: {goal}",
          "source": "user_request",
          "importance": "high",
      }]

      available_assets = [{
          "asset_id": f"as_{timestamp}_001",
          "type": "skill",
          "name": "Roadmap Design Skill",
          "description": "AI-powered roadmap planning capability",
      }]

      worker_request = {
          "schema_version": "1.0.0",
          "mode": "roadmap",
          "problem_statement": problem_statement,
          "insights": insights,
          "constraints": constraint_items if constraint_items else [
              {
                  "constraint_id": f"co_{timestamp}_default",
                  "category": "other",
                  "statement": "No specific constraints provided",
                  "severity": "soft",
              }
          ],
          "available_assets": available_assets,
          "run_id": trace_id,
      }

      # Write output
      with open("{{ outputDir }}/worker_request.json", "w") as f:
          json.dump(worker_request, f, indent=2)

  # 3. Execute Roadmap Design Skill
  - id: run-worker
    type: io.kestra.plugin.scripts.shell.Commands
    description: "Execute Roadmap Design Skill"
    outputFiles:
      - worker_response.json
    beforeCommands:
      - cd {{ globals.roadmap_design_skill_path | default('C:/Users/ryo-n/Codex_dev/Roadmap-Design-Skill') }}
    commands:
      - |
        python -m wrappers.cli.main run --no-llm \
          -i {{ outputs.transform-request.outputFiles['worker_request.json'] }} \
          -o {{ outputDir }}/worker_response.json

  # 5. Extract reply text from response and emit as output
  - id: extract-reply
    type: io.kestra.plugin.scripts.python.Script
    outputFiles:
      - reply_text.txt
      - worker_status.json
    script: |
      import json
      import sys

      # Install kestra package for output variables
      import subprocess
      subprocess.check_call([sys.executable, "-m", "pip", "install", "kestra", "-q"])

      from kestra import Kestra

      with open("{{ outputs.run-worker.outputFiles['worker_response.json'] }}", "r") as f:
          response = json.load(f)

      # Initialize phases to empty list to avoid undefined reference
      phases = []
      run_status = response.get("run", {}).get("status", "")

      if run_status != "completed":
          error_msg = response.get("run", {}).get("message", "Unknown error")
          reply_text = f"ロードマップ生成中にエラーが発生しました: {error_msg}"
      else:
          roadmap = response.get("roadmap", {})
          phases = roadmap.get("phases", [])

          if not phases:
              reply_text = "ロードマップが生成されましたが、フェーズが含まれていません。"
          else:
              lines = ["ロードマップを生成しました！\n"]
              for i, phase in enumerate(phases[:5], 1):
                  phase_title = phase.get("title", f"フェーズ {i}")
                  phase_summary = phase.get("summary", "")
                  lines.append(f"**{i}. {phase_title}**")
                  if phase_summary:
                      lines.append(f"  {phase_summary[:100]}")

              if len(phases) > 5:
                  lines.append(f"\n...他 {len(phases) - 5} フェーズ")

              lines.append("\n詳細なロードマップは別途ご確認ください。")
              reply_text = "\n".join(lines)

      # Write reply text to file for post-reply task
      with open("{{ outputDir }}/reply_text.txt", "w", encoding="utf-8") as f:
          f.write(reply_text)

      # Save worker status for taskstate update
      worker_status = {
          "status": "done" if run_status == "completed" else "failed",
          "has_phases": len(phases) > 0,
          "phase_count": len(phases),
      }
      with open("{{ outputDir }}/worker_status.json", "w") as f:
          json.dump(worker_status, f)

      # Emit reply_text as Kestra output variable for post-reply task
      Kestra.outputs({"reply_text": reply_text})

  # 5. Post reply to Misskey
  - id: post-reply
    type: io.kestra.plugin.scripts.http.Request
    uri: "{{ globals.misskey_api_url | default('http://misskey:3000/api') }}/notes/create"
    method: POST
    headers:
      Content-Type: application/json
    body: |
      {
        "i": "{{ secret('MISSKEY_API_TOKEN') }}",
        "replyId": "{{ trigger.body.reply_target }}",
        "text": "{{ outputs.extract-reply.vars.reply_text }}",
        "visibility": "home"
      }

  # 7. Update taskstate: run status and task status based on worker result
  # Phase 1 state mapping:
  # - done = run.succeeded + task.done
  # - failed = run.failed + task.review
  - id: update-taskstate
    type: io.kestra.plugin.scripts.python.Script
    description: "Update run status and task status based on worker result"
    outputFiles:
      - update_result.json
    script: |
      import json
      import subprocess
      import sys

      CLI_PATH = "{{ globals.taskstate_cli_path | default('C:/Users/ryo-n/Codex_dev/agent-taskstate/docs/src/agent-taskstate_cli.py') }}"
      DB_PATH = "{{ globals.taskstate_db | default('C:/Users/ryo-n/.agent-taskstate/agent-taskstate.db') }}"
      TASK_ID = "{{ trigger.body.task_id }}"
      RUN_ID = ""

      # Read run_id from previous task
      with open("{{ outputs.start-taskstate-run.outputFiles['run_id.txt'] }}", "r") as f:
          RUN_ID = f.read().strip()

      # Read worker status
      with open("{{ outputs.extract-reply.outputFiles['worker_status.json'] }}", "r") as f:
          WORKER_STATUS = json.load(f)

      with open("{{ outputs.extract-reply.outputFiles['reply_text.txt'] }}", "r", encoding="utf-8") as f:
          REPLY_TEXT = f.read()

      STATUS = WORKER_STATUS.get("status", "failed")

      def run_cli(args):
          cmd = [sys.executable, CLI_PATH, "--db", DB_PATH] + args
          result = subprocess.run(cmd, capture_output=True, text=True)
          return result

      if STATUS == "done":
          # Update run to succeeded
          run_cli(["run", "finish", "--run", RUN_ID, "--status", "succeeded"])

          # Task transitions must follow in_progress -> review -> done
          # First transition to review
          run_cli(["task", "set-status", "--task", TASK_ID, "--to", "review",
                   "--reason", "Worker completed successfully"])

          # Set current_summary before done transition (required by agent-taskstate)
          state_payload = {
              "current_step": "completed",
              "current_summary": "Worker completed successfully",
              "done_when": [{"done": True}],
              "constraints": [],
              "artifact_refs": [],
              "evidence_refs": []
          }
          run_cli(["state", "put", "--task", TASK_ID, "--json", json.dumps(state_payload)])

          # Now transition to done
          run_cli(["task", "set-status", "--task", TASK_ID, "--to", "done",
                   "--reason", "Worker completed successfully"])

          # Update reply_state and persist reply_text for resend/replay
          run_cli(["task", "update", "--task", TASK_ID, "--json",
                   json.dumps({"reply_state": "sent", "reply_text": REPLY_TEXT}, ensure_ascii=False)])

          result = {"success": True, "status": "done"}
      else:
          # Update run to failed
          run_cli(["run", "finish", "--run", RUN_ID, "--status", "failed"])

          # Update task to review
          run_cli(["task", "set-status", "--task", TASK_ID, "--to", "review",
                   "--reason", "Worker failed - requires review"])

          # Update reply_state and persist reply_text for resend/replay
          run_cli(["task", "update", "--task", TASK_ID, "--json",
                   json.dumps({"reply_state": "failed", "reply_text": REPLY_TEXT}, ensure_ascii=False)])

          result = {"success": True, "status": "failed"}

      with open("{{ outputDir }}/update_result.json", "w") as f:
          json.dump(result, f)

      print(json.dumps(result))

triggers:
  - id: webhook-trigger
    type: io.kestra.plugin.core.trigger.Webhook
    key: "{{ secret('PULSE_KESTRA_WEBHOOK_KEY') }}"
    conditions:
      - type: io.kestra.plugin.core.condition.ExpressionCondition
        expression: "{{ trigger.body.event == 'misskey.mention' }}"