kestra/flows/notifier-resend.yaml
# Kestra Flow: Notifier Resend
# Resend Misskey reply for a specific task (without re-running worker)

id: notifier-resend
namespace: pulse

# Prevent concurrent executions for same task
concurrency:
  behavior: CANCEL
  limit: 1
  key: "{{ trigger.body.task_id }}"

tasks:
  # 1. Validate and get task data
  - id: get-task-data
    type: io.kestra.plugin.scripts.python.Script
    description: "Retrieve task data and validate resend is possible"
    outputFiles:
      - task_data.json
    script: |
      import json
      import sys
      import subprocess

      CLI_PATH = "{{ globals.taskstate_cli_path | default('C:/Users/ryo-n/Codex_dev/agent-taskstate/docs/src/agent-taskstate_cli.py') }}"
      DB_PATH = "{{ globals.taskstate_db | default('C:/Users/ryo-n/.agent-taskstate/agent-taskstate.db') }}"
      TASK_ID = "{{ trigger.body.task_id }}"

      # Get task data
      cmd = [sys.executable, CLI_PATH, "--db", DB_PATH, "task", "show", "--task", TASK_ID]
      result = subprocess.run(cmd, capture_output=True, text=True)

      if result.returncode != 0:
          print(json.dumps({"ok": False, "error": "Task not found"}))
          sys.exit(1)

      task_data = json.loads(result.stdout)

      if not task_data.get("ok"):
          print(json.dumps({"ok": False, "error": task_data.get("error", "Unknown error")}))
          sys.exit(1)

      task = task_data.get("data", {})
      reply_state = task.get("reply_state", "")

      # Check if resend is allowed
      if reply_state == "sent":
          print(json.dumps({"ok": False, "error": "Reply already sent"}))
          sys.exit(1)

      # Get reply text from task or use default
      reply_text = task.get("reply_text", "処理が完了しました。詳細は別途ご確認ください。")

      output = {
          "ok": True,
          "task_id": TASK_ID,
          "trace_id": task.get("trace_id", ""),
          "note_id": task.get("note_id", ""),
          "reply_target": task.get("reply_target", task.get("note_id", "")),
          "reply_text": reply_text,
          "reply_state": reply_state,
          "retry_count": task.get("retry_count", 0),
      }

      with open("{{ outputDir }}/task_data.json", "w") as f:
          json.dump(output, f, indent=2)

      print(json.dumps(output, indent=2))

  # 2. Post reply to Misskey
  - id: post-reply
    type: io.kestra.plugin.scripts.http.Request
    uri: "{{ globals.misskey_api_url | default('http://misskey:3000/api') }}/notes/create"
    method: POST
    headers:
      Content-Type: application/json
    body: |
      {
        "i": "{{ secret('MISSKEY_API_TOKEN') }}",
        "replyId": "{{ outputs.get-task-data.outputFiles['task_data.json'] | json(data='reply_target') }}",
        "text": "{{ outputs.get-task-data.outputFiles['task_data.json'] | json(data='reply_text') }}",
        "visibility": "home"
      }

  # 3. Update taskstate
  - id: update-taskstate
    type: io.kestra.plugin.scripts.python.Script
    description: "Update reply_state and retry_count"
    script: |
      import json
      import subprocess
      import sys

      CLI_PATH = "{{ globals.taskstate_cli_path | default('C:/Users/ryo-n/Codex_dev/agent-taskstate/docs/src/agent-taskstate_cli.py') }}"
      DB_PATH = "{{ globals.taskstate_db | default('C:/Users/ryo-n/.agent-taskstate/agent-taskstate.db') }}"
      TASK_ID = "{{ trigger.body.task_id }}"

      # Update reply_state to sent
      cmd = [sys.executable, CLI_PATH, "--db", DB_PATH, "task", "update",
             "--task", TASK_ID,
             "--json", json.dumps({"reply_state": "sent"})]
      result = subprocess.run(cmd, capture_output=True, text=True)

      if result.returncode != 0:
          print(json.dumps({"ok": False, "error": result.stderr}))
      else:
          print(f"Reply sent successfully for task {TASK_ID}")

  # 4. Log success
  - id: log-success
    type: io.kestra.plugin.core.log.Log
    message: "Notifier resend completed for task {{ trigger.body.task_id }}"

# Error handling
errors:
  - id: error-handler
    type: io.kestra.plugin.scripts.python.Script
    script: |
      import json
      import subprocess
      import sys

      CLI_PATH = "{{ globals.taskstate_cli_path | default('C:/Users/ryo-n/Codex_dev/agent-taskstate/docs/src/agent-taskstate_cli.py') }}"
      DB_PATH = "{{ globals.taskstate_db | default('C:/Users/ryo-n/.agent-taskstate/agent-taskstate.db') }}"
      TASK_ID = "{{ trigger.body.task_id }}"

      # Read current retry_count and increment on failure
      show_cmd = [sys.executable, CLI_PATH, "--db", DB_PATH, "task", "show", "--task", TASK_ID]
      show_result = subprocess.run(show_cmd, capture_output=True, text=True)
      retry_count = 0
      if show_result.returncode == 0:
          try:
              retry_count = json.loads(show_result.stdout).get("data", {}).get("retry_count", 0)
          except Exception:
              retry_count = 0

      cmd = [sys.executable, CLI_PATH, "--db", DB_PATH, "task", "update",
             "--task", TASK_ID,
             "--json", json.dumps({"reply_state": "failed", "retry_count": retry_count + 1})]
      subprocess.run(cmd, capture_output=True)

      print(json.dumps({
          "ok": False,
          "error": "Notifier resend failed",
          "task_id": TASK_ID
      }))

triggers:
  - id: webhook-trigger
    type: io.kestra.plugin.core.trigger.Webhook
    key: "{{ secret('PULSE_KESTRA_WEBHOOK_KEY') }}"
    conditions:
      - type: io.kestra.plugin.core.condition.ExpressionCondition
        expression: "{{ trigger.body.event == 'notifier.resend' }}"